body{
  font-family: "Montserrat";
}
#title{
  background-color: #ff4c68;
  color: #fff;
}
.my-fluid{
  padding:3% 15%;
}


/*navigation bar*/
.my-navbar{
  position: relative;
    /*display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-align: center;
    -ms-flex-pack: justify;*/
    display: flex;

    flex-wrap: wrap;
    -webkit-box-align: center;

    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /*padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4.5rem;*/
    padding:0 0 4.5rem;
}
.navbar-brand {
  /*font-family: "Ubuntu";*/
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding:0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
}
/*Download Button*/
.download-button{
  margin:5% 3% 5% 0;
}
/*Title image*/
.title-img{
  margin: auto auto -12rem 50px;
  max-width: 200px;
  max-height: 400px;
  transform: rotate(25deg);
  position: relatives;
}
.title-image-container{
  position: relative;
}
/* feature section */
#features{
  text-align: center;
  padding:7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-box{
  text-align: center;

  padding: 5%;
}
.icon{
  color:#ef8172;
  margin-bottom:1rem;
}
.icon:hover{
  color: #ff4c68;
}
/* testimonial section */
#testimonials{
  text-align:center;
  padding:7% 15%;
  background-color: #ef8172;
  color:#fff;
}
.testimonial-image{
  width: 10%;
  border-radius:100%;
  margin: 20px;
}
.head1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}
/*press*/
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width:15%;
  margin: 20px 20px 50px;
}
.carousel-item{
    padding:7% 15%;
}
/*pricing section */
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}
